<!DOCTYPE html>

{% extends 'app/base.html' %}
{% load static %}
{% block content %}

  <div class="container-fluid bg-light py-4">
    <h2 class="text-center">Exam & event</h2>
    <p class="text-center">Explore all upcoming exams and start now!</p>

    <div class="row m-0 d-flex justify-content-center mt-3" style="padding-top: 30px; padding-bottom: 30px;">

      <div class="card m-4" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title">Bosh Memorial 2nd Science Fest Exam</h5>
          <small class="card-text">
            C Programming, HSC
            <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam
          </small>
          <div class="row mx-0 my-3">
            <form class="" action="#" method="post">
              <button type="submit" name="button" class="btn btn-outline-dark">View Details</button>
            </form>
            <form class="ml-2" action="#" method="post">
              <button type="submit" name="button" class="btn btn-outline-success">Go & Start!</button>
            </form>
          </div>
        </div>
      </div>

      <div class="card m-4" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title">Bosh Memorial 2nd Science Fest Exam</h5>
          <small class="card-text">
            C Programming, HSC
            <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam
          </small>
          <div class="row mx-0 my-3">
            <form class="" action="#" method="post">
              <button type="submit" name="button" class="btn btn-outline-dark">View Details</button>
            </form>
            <form class="ml-2" action="#" method="post">
              <button type="submit" name="button" class="btn btn-outline-success">Go & Start!</button>
            </form>
          </div>
        </div>
      </div>

      <div class="card m-4" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title">Bosh Memorial 2nd Science Fest Exam</h5>
          <small class="card-text">
            C Programming, HSC
            <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam
          </small>
          <div class="row mx-0 my-3">
            <form class="" action="#" method="post">
              <button type="submit" name="button" class="btn btn-outline-dark">View Details</button>
            </form>
            <form class="ml-2" action="#" method="post">
              <button type="submit" name="button" class="btn btn-outline-success">Go & Start!</button>
            </form>
          </div>
        </div>
      </div>

      <div class="card m-4" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title">Bosh Memorial 2nd Science Fest Exam</h5>
          <small class="card-text">
            C Programming, HSC
            <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam
          </small>
          <div class="row mx-0 my-3">
            <form class="" action="#" method="post">
              <button type="submit" name="button" class="btn btn-outline-dark">View Details</button>
            </form>
            <form class="ml-2" action="#" method="post">
              <button type="submit" name="button" class="btn btn-outline-success">Go & Start!</button>
            </form>
          </div>
        </div>
      </div>

      <div class="card m-4" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title">Bosh Memorial 2nd Science Fest Exam</h5>
          <small class="card-text">
            C Programming, HSC
            <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam
          </small>
          <div class="row mx-0 my-3">
            <form class="" action="#" method="post">
              <button type="submit" name="button" class="btn btn-outline-dark">View Details</button>
            </form>
            <form class="ml-2" action="#" method="post">
              <button type="submit" name="button" class="btn btn-outline-success">Go & Start!</button>
            </form>
          </div>
        </div>
      </div>

      <div class="card m-4" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title">Bosh Memorial 2nd Science Fest Exam</h5>
          <small class="card-text">
            C Programming, HSC
            <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam
          </small>
          <div class="row mx-0 my-3">
            <form class="" action="#" method="post">
              <button type="submit" name="button" class="btn btn-outline-dark">View Details</button>
            </form>
            <form class="ml-2" action="#" method="post">
              <button type="submit" name="button" class="btn btn-outline-success">Go & Start!</button>
            </form>
          </div>
        </div>
      </div>

      <div class="card m-4" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title">Bosh Memorial 2nd Science Fest Exam</h5>
          <small class="card-text">
            C Programming, HSC
            <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam
          </small>
          <div class="row mx-0 my-3">
            <form class="" action="#" method="post">
              <button type="submit" name="button" class="btn btn-outline-dark">View Details</button>
            </form>
            <form class="ml-2" action="#" method="post">
              <button type="submit" name="button" class="btn btn-outline-success">Go & Start!</button>
            </form>
          </div>
        </div>
      </div>

      <div class="card m-4" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title">Bosh Memorial 2nd Science Fest Exam</h5>
          <small class="card-text">
            C Programming, HSC
            <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam
          </small>
          <div class="row mx-0 my-3">
            <form class="" action="#" method="post">
              <button type="submit" name="button" class="btn btn-outline-dark">View Details</button>
            </form>
            <form class="ml-2" action="#" method="post">
              <button type="submit" name="button" class="btn btn-outline-success">Go & Start!</button>
            </form>
          </div>
        </div>
      </div>


    </div>

  </div>

{% endblock %}
