<!DOCTYPE html>

{% extends 'app/base.html' %}
{% load static %}
{% block content %}

  <div class="container-fluid">
    <div class="row m-0 d-flex justify-content-center bg-light" style="padding-top: 120px; padding-bottom: 240px;">
      <div class="col-xl-5 mt-4">
        <h2>
          Online Exam Platform
        </h2>
        <h5>
          EXPLORE OUR EDUCATION SYSTEM AND TEST YOURSELF
        </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat  upidatat non proident, sunt in culpa qui officia deserunt ollit anim id est laborum.
        </p>
        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#loginModal">Get Started</button>
      </div>
      <div class="col-xl-3 ml-5">
        <img src="{% static 'imgs/banner pic.png' %}" alt="" class="banner-pic">
      </div>

    </div>
  </div>

{% endblock %}
